# BLU01 - Exercises Notebook

**Important Note**

Attention Windows users: The grader will run on Linux, and using power shell statements will not work.

In [1]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to count lines

In [2]:
# Count the total number of lines of files data/exercises/surfing.txt and data/exercises/body_boarding.txt
# and store the result in variable count_total.  
# There is more than one way to do this. Hint: concatenate both files.
# count_total = ...

first_file = !wc -l < data/exercises/surfing.txt
second_file = !wc -l < data/exercises/body_boarding.txt
count_total = int(first_file[0]) + int(second_file[0])
count_total

44

In [3]:
expected_hash = '71ee45a3c0db9a9865f7313dd3372cf60dca6479d46261f3542eb9346e4a04d6'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash, "count_total is wrong"

Now store in 2 variables the first third and the last third of the lines existent in file data/exercises/surfing.txt.

In [4]:
# NOT GRADED optional exercise!!
# Add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total_surfing/3 for instance in the bash commands
filename = "./data/exercises/surfing.txt"
count_total_surfing = !wc -l < {filename}
first_third = !head -{int(int(count_total_surfing[0])/3)} < {filename}
last_third = !tail -{int(int(count_total_surfing[0])/3)} < {filename}

In [5]:
#Test the first_third and last_third exercise by running the following (ungraded) asserts.
assert first_third[-1][0] == 'o'
assert last_third[0][0] == 'o'

## Q2: Read a file with specific delimiter

Read file **data/exercises/surfing_sessions.csv** into a pandas DataFrame.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the last column as index.

In [6]:
# Use a shell command to preview the data

!head -10 < data/exercises/surfing_sessions.csv

# Use function read_csv to read the data into a DataFrame
df2 = pd.read_csv("./data/exercises/surfing_sessions.csv", sep="|", index_col="visit_id")

surfer|wave_power|location|visit_id
3|37,6|Rocky Point|146097
3|5,7|Chuns|146087
3|5|Noronha(Cacimba)|130395
3|5|Rocky Point|130363
3|11,3|Noronha(Conceicao)|130362
3|8,9|Noronha(Boldo)|130360
3|32,7|Pupukea|126903
3|32,7|Pupukea|126902
3|9,7|Ehukai|126591

In [7]:
assert df2.loc[126903, 'location'] == 'Pupukea', "df2 data is wrong"
assert set(df2.columns) == {'location', 'surfer', 'wave_power'}, "df2 data is wrong"
assert len(df2) == 108, "df2 data is wrong"
assert df2.index[0] == 146097, "df2 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/surfing_sessions_w_problems.csv** using function `read_csv`. Pay attention to the following:
* remove all lines where the number of columns is different from the majority of lines.
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [8]:
# Read file data/exercises/surfing_sessions_w_problems.csv with read_csv
# df3 = pd.read_csv(...)

!cat< data/exercises/surfing_sessions_w_problems.csv
df3 = pd.read_csv("data/exercises/surfing_sessions_w_problems.csv", sep=";", error_bad_lines=False,
                  index_col="visit_id", na_values={'wave_power': [-1, "missing-data"]})
df3

visit_id;surfer;wave_power;location
146097;3;37.6;Rocky Point
146087;3;5.7;Chuns
130395;3;-1;Noronha(Cacimba)
130363;3;5;Rocky Point
130362;3;11.3;Noronha(Conceicao)
130360;3;8.9;Noronha(Boldo)
126903;3;32.7;Pupuke
126902;3;missing-data;Pupukea;;
126591;3;9.7;Ehukai
126590;3;10.4;Changes
126341;3;8.2;Changes
126340;3;38.6;Laniakea;
125540;3;34.1;Laniakea
122199;3;14.4;Glass Doors
121170;3;34.9;Walterâ€™s West
120454;3;-1;Gas Chambers
119736;3;21.7;Rocky Point;
119735;3;21.2;Rocky Point;;

b'Skipping line 9: expected 4 fields, saw 6\nSkipping line 13: expected 4 fields, saw 5\nSkipping line 18: expected 4 fields, saw 5\nSkipping line 19: expected 4 fields, saw 6\n'

          surfer  wave_power            location
visit_id
146097         3        37.6         Rocky Point
146087         3         5.7               Chuns
130395         3         NaN    Noronha(Cacimba)
130363         3         5.0         Rocky Point
130362         3        11.3  Noronha(Conceicao)
130360         3         8.9      Noronha(Boldo)
126903         3        32.7              Pupuke
126591         3         9.7              Ehukai
126590         3        10.4             Changes
126341         3         8.2             Changes
125540         3        34.1            Laniakea
122199         3        14.4         Glass Doors
121170         3        34.9       Walterâ€™s West
120454         3         NaN        Gas Chambers

In [9]:
assert np.isnan(df3.loc[130395, 'wave_power']), "df3 data is wrong"
assert df3.loc[126903, 'wave_power'] == 32.7, "df3  data is wrong"

mean_wave_power = df3['wave_power'].mean()
assert math.isclose(17.741, mean_wave_power, rel_tol=1e-3), "df3 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read the same file **data/exercises/surfing_sessions_w_problems.csv** using function `csv.reader()`. But now, be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with only 4 meaningful columns and then 
* replace garbage values with NaN's 
* format the columns with the right type
* set the index of the df to column `visit_id`

In [10]:
# Read file data/exercises/surfing_sessions_w_problems.csv using csv.reader() and add result to
lines = []
with open("data/exercises/surfing_sessions_w_problems.csv", newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter=';')
    for line in reader:
        lines.append(line)



new_lines = []
for line in lines[1:]:
    if line[2] == "-1" or line[2] == "missing-data": line[2]=np.nan
    new_lines.append(line[0:4])

df4 = pd.DataFrame(columns=lines[0], data = new_lines)

# replace invalid values with nan (np.nan)
# YOUR CODE HERE
# set types per dataframe column (always use int64 when int's are needed)
# YOUR CODE HERE
# set a new index to the dataframe
# YOUR CODE HERE
#df4.set_index("visit_id", inplace=True)

df4 = df4.astype({'visit_id': 'int64', "surfer": "int64", "wave_power": "float"}).set_index("visit_id")
df4.dtypes

surfer          int64
wave_power    float64
location       object
dtype: object

In [11]:
assert np.isnan(df4.loc[130395, 'wave_power']), "df4 content is wrong"
assert df4.loc[126340, 'wave_power'] == 38.6, "df4 content is wrong"

mean_wave_power = df4['wave_power'].mean()
assert math.isclose(19.626, mean_wave_power, rel_tol=1e-3), "df4 content is wrong"

assert df4['surfer'].dtype == np.int64, "df4 types are wrong"
assert df4['location'].dtype == object, "df4 types are wrong"
assert df4['wave_power'].dtype == float, "df4 types are wrong"
assert df4.index.dtype == np.int64, "df4 types are wrong"


expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [12]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json
# df5 = read_json(...)
filename="data/exercises/portugal_production_of_electricity_gwh.json"
#!cat < {filename}

df5 = pd.read_json(filename,orient="table")
df5

,Year,Total,Total renewables,Hydropower > 10MW,Hydropower < 10MW,Biomass,Windpower,Geothermal power,Photovoltaic
0,1995,33264,9501,7962,492,988,16,42,1
1,1996,34520,15895,14007,658,959,21,49,1
2,1997,34207,14301,12537,638,1036,38,51,1
3,1998,38984,14224,12488,566,1022,89,58,1
4,1999,43287,8915,7042,589,1081,122,80,1
5,2000,43764,13260,11040,675,1296,168,80,1
6,2001,46509,16083,13605,770,1345,256,105,2
7,2002,46107,10190,7551,706,1473,362,96,2
8,2003,46852,18037,15163,891,1394,496,90,3
9,2004,45105,12597,9570,577,1547,816,84,3
10,2005,46575,8616,4737,381,1651,1773,71,3
11,2006,49041,16187,10633,834,1704,2926,85,5
12,2007,47253,16593,9927,522,1882,4037,201,24
13,2008,45969,15140,6781,517,1852,5757,192,41
14,2009,50207,19017,8108,901,2087,7577,184,160
15,2010,54093,28755,15459,1088,2614,9182,197,215
16,2011,52465,24691,11294,820,2923,9162,210,282
17,2012,46614,20410,6093,567,2951,10260,146,393
18,2013,51673,30610,13701,1167,3051,12015,197,479
19,2014,52802,32405,15071,1341,3049,12111,205,627
20,2015,52423,25514,9048,752,3104,11608,204,799
21,2016,60279,33448,15689,1221,3070,12474,172,822
22,2017,59432,24309,7009,623,3220,12248,217,992

In [13]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewables','Windpower','Year'}, "df5 columns are wrong"

expected_hash = '48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash, "df5 content is wrong"

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "metadata"
* use column 'Serie' as index
* make sure you keep only the rows and columns with data
* set the variable distinct_scales with the number of ... distinct scales found in the table

In [14]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel

df6 = pd.read_excel("data/exercises/portugal_gas_emissions_per_year.xlsx", sheet_name="metadata", skiprows=21, skipfooter=6, header=1, index_col="Serie")


distinct_scales = len(df6.Scale.unique())

In [15]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash, "df6 is wrong"

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 2377.

In [16]:
# Find the encoding of file data/exercises/cities.csv
filename="data/exercises/cities.csv"
#!cat < {filename}

encoding = chardet.detect(open(filename, 'rb').read())["encoding"]

# Read the file into a DataFrame
df7 = pd.read_csv(filename, encoding=encoding)
df7[df7.distance==2377].City

# Find the name of the city with distance = 2377
city_found = df7[df7.distance==2377].City.reset_index().City[0]
# YOUR CODE HERE

In [17]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1, "encoding is wrong"

expected_hash_2 = '22522b6940ec2bcc42ea98f55878bee105c27254c4340fbce9fbc951b5aed078'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2, "city_found is wrong"

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 10 rows. Count the actual lines with `wc`

In [18]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file (as an integer), using 
filename = "data/exercises/world_percentage_of_literacy.tsv"

#!cat <{filename}
lines_in_file = !wc -l < {filename}
lines_in_file = int(lines_in_file[0])-1


# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 10 rows should be fecthed

sample_number = 10
n_rows_to_skip = lines_in_file - sample_number

rows_to_skip = random.sample(range(1, lines_in_file-1), n_rows_to_skip)

df8 = pd.read_csv(filename, sep="\t", skiprows=rows_to_skip)
df8

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,Estonia,99.8%,99.8%,99.8%,0.0%
1,"Korea, Democratic People's Republic of",100.0%,100.0%,100.0%,0.0%
2,Lesotho,79.4%,70.1%,88.3%,-18.2%
3,Luxembourg,not reported by UNESCO 2015,NaN,NaN,NaN
4,Mexico,94.4%,95.6%,93.3%,2.2%
5,Monaco,not reported by UNESCO 2015,NaN,NaN,NaN
6,Sri Lanka,92.6%,93.6%,91.7%,1.9%
7,Switzerland,not reported by UNESCO 2015,NaN,NaN,NaN
8,Zambia,63.4%,70.9%,56.0%,14.9%
9,Zimbabwe,86.5%,88.5%,84.6%,4.0%

In [19]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

expected_hash = '7559ca4a957c8c82ba04781cd66a68d6022229fca0e8e88d8e487c96ee4446d0'
assert hashlib.sha256(str(lines_in_file).encode()).hexdigest() == expected_hash, "lines_in_file are wrong"
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==10, "df8 size is wrong"

expected_hash = '4a44dc15364204a80fe80e9039455cc1608281820fe2b24f1e5233ade6af1dd5'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Gender difference`.
Note that:
* file should be read by chunks of 20 countries
* the missing values should be removed (filtered in each chunk)
* the `Gender difference` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

At the end, calculate the average `Gender difference`

Tip: Be sure you investigate the data you are about to load before doing any code.

In [20]:
# Read file data/exercises/world_percentage_of_literacy.tsv
filepath = "data/exercises/world_percentage_of_literacy.tsv"
#!head -10 < {filepath}

# the chunks should be appended in a list called chunk_arr

chunks_iter = pd.read_csv(
    filepath,
    sep="\t",
    chunksize=20
)

def filter_data(data):
    data.dropna(inplace=True)
    data["Gender difference"] = data["Gender difference"].str.replace('%', '').astype("float")
    return data

chunk_arr = []
for data_chunk in chunks_iter:
    data_chunk_filtered = filter_data(data_chunk)
    chunk_arr.append(data_chunk_filtered)

df9 = pd.concat(chunk_arr, axis=0)
lit_avg = df9["Gender difference"].mean()

df9

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,World,86.3%,90.0%,82.7%,7.3
1,Afghanistan,38.2%,52.0%,24.2%,27.8
2,Albania,97.6%,98.4%,96.8%,1.6
3,Algeria,80.2%,87.2%,73.1%,14.0
5,Angola,71.1%,82.0%,60.7%,21.3
...,...,...,...,...,...
189,Venezuela,95.4%,95.0%,95.7%,-0.7
190,Vietnam,94.5%,96.3%,92.8%,3.4
191,Yemen,70.1%,85.1%,55.0%,30.1
192,Zambia,63.4%,70.9%,56.0%,14.9
193,Zimbabwe,86.5%,88.5%,84.6%,4.0

In [21]:
expected_hash = 'cc63c8d6f0f9a8260d40b5c9a62d4fce5b693bab5750c90fd1f038ff64e37d6d'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash, "error on chunk_arr sizes"

assert df9.loc[df9['Country']=='World', 'Gender difference'].values[0] == 7.3, "df9 data is wrong"
assert df9.dtypes['Country'] == object, "df9 structure is wrong"
assert df9.dtypes['Gender difference'] == float, "df9 structure is wrong" 

expected_hash = 'c4d7d45402099baaea8a079580a4ef950016ef7403178f72e64ceb3738e4471d'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash, "lit_avg is wrong"

## Q10: Calculate average values of `Literacy All` using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incomplete rows and calculate the average of ***Literacy rate (all)*** without loading all data simultaneously. 

Use a similar approach of the previous question but don't create any dataframe neither any list with chunks; ***Hint: Use the average definition***

In [22]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b

filepath = "data/exercises/world_percentage_of_literacy.tsv"

chunks_iter = pd.read_csv(
    filepath,
    sep="\t",
    chunksize=20
)

def filter_data(data):
    data.dropna(inplace=True)
    data["Literacy rate (all)"] = data["Literacy rate (all)"].str.replace("\%(.*)", '').astype("float")
    return data

lit_a = 0
lit_b = 0
for data_chunk in chunks_iter:
    data_chunk_filtered = filter_data(data_chunk)
    lit_a += np.sum(data_chunk_filtered["Literacy rate (all)"])
    lit_b += data_chunk_filtered.shape[0]
    
final_avg = lit_a/lit_b

/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/home/ana/.virtualenvs/blu01/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app

In [23]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1), "final_avg is wrong"
assert lit_b==151 or lit_a==151, "lit_a or lit_b is wrong"
assert int(lit_b) == 12569 or int(lit_a)==12569, "lit_a or lit_b is wrong"