In [1]:
import os
import psycopg2
import pandas as pd
import pandas.io.sql as sqlio
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import precision_score, recall_score, f1_score, precision_recall_curve, roc_auc_score


DATABASE_URL = "postgres://ewtzpgfuvhggye:72a146b70f8391f1d6ee42270d38b3ac634dcb13ebb506c23ffaa879c921cd87@ec2-54-228-95-1.eu-west-1.compute.amazonaws.com:5432/d2jolbgslv3h5k"

In [2]:
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
data = sqlio.read_sql_query("SELECT * FROM prediction", conn)
conn.close()


data

,id,observation_id,observation,proba,true_class
0,5347,95646,"{""admission_id"": 95646, ""patient_id"": 2590308,...",0.401941,0
1,5356,87927,"{""admission_id"": 87927, ""patient_id"": 19005246...",0.395329,0
2,5360,99160,"{""admission_id"": 99160, ""patient_id"": 6887610,...",0.423172,0
3,5366,90155,"{""admission_id"": 90155, ""patient_id"": 61379460...",0.468113,0
4,5375,90613,"{""admission_id"": 90613, ""patient_id"": 18637074...",0.443700,0
...,...,...,...,...,...
9691,9368,82068,"{""admission_id"": 82068, ""patient_id"": 10754236...",0.594240,1
9692,9369,88096,"{""admission_id"": 88096, ""patient_id"": 20587543...",0.470751,0
9693,9370,93985,"{""admission_id"": 93985, ""patient_id"": 46800846...",0.529587,0
9694,9371,99281,"{""admission_id"": 99281, ""patient_id"": 46898892...",0.479476,0
9695,9372,93786,"{""admission_id"": 93786, ""patient_id"": 87657048...",0.419364,0

In [3]:
data.to_csv("data/first_round_raw.csv", index=False)