In [1]:
import pandas as pd
import numpy as np

In [2]:
#data = pd.read_csv("data/train_data.csv")
data = pd.read_csv("data/first_round.csv")

data.head()

,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,time_in_hospital,...,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted_proba,true_class,readmitted
0,95646.0,2590308.0,?,Male,[70-80),?,2.0,1.0,9.0,1.0,...,False,None,None,No,No,No,Yes,0.401941,0,No
1,87927.0,190052460.0,Caucasian,Male,[60-70),?,2.0,1.0,1.0,1.0,...,False,NONE,None,No,No,Ch,Yes,0.395329,0,No
2,99160.0,6887610.0,Hispanic,Female,[40-50),?,1.0,18.0,7.0,1.0,...,False,None,None,No,No,Ch,Yes,0.423172,0,No
3,90155.0,61379460.0,Other,Female,[60-70),?,2.0,1.0,7.0,1.0,...,False,None,>8,No,Yes,Ch,Yes,0.468113,0,No
4,90613.0,186370740.0,Caucasian,Male,[50-60),?,1.0,1.0,1.0,1.0,...,True,NONE,>8,No,Yes,Ch,Yes,0.443700,0,No

In [4]:
data.shape

(9696, 36)

In [3]:
data_dictionary = pd.read_csv("data/Data Dictionary.csv")
data_dictionary

,Variable name,Description,Codes
0,admission_id,Unique identifier of an encounter,NaN
1,patient_id,Unique identifier of a patient,NaN
2,race,Patient race,NaN
3,gender,Patient gender,NaN
4,age,Patient age grouped in 10-year intervals,NaN
5,weight,Patient weight (lb),NaN
6,admission_type_code,Admission type identifier,1: Emergency\r\n2: Urgent\r\n3: Elective\r\n4:...
7,discharge_disposition_code,discharge_disposition_code,1: Discharged to home\r\n2: Discharged/transfe...
8,admission_source_code,Admission source identifier,1: Physician Referral\n2: Clinic Referral\n3: ...
9,time_in_hospital,Number of days between admission and discharge,NaN
10,payer_code,Payer identifier,NaN
11,medical_specialty,Physician speciality,NaN
12,has_prosthesis,Indicates if patient has any prothesis.,NaN
13,complete_vaccination_status,The patient vaccination status.,NaN
14,num_lab_procedures,Number of lab tests performed during the encou...,NaN
15,num_procedures,Number of procedures (other than lab tests) pe...,NaN
16,num_medications,Number of distinct generic names administered ...,NaN
17,number_outpatient,Number of outpatient visits of the patient in ...,NaN
18,number_emergency,Number of emergency visits of the patient in t...,NaN
19,number_inpatient,Number of inpatient visits of the patient in t...,NaN
20,diag_1,The primary diagnosis (coded as first three di...,NaN
21,diag_2,Secondary diagnosis (coded as first three digi...,NaN
22,diag_3,Additional secondary diagnosis (coded as first...,NaN
23,number_diagnoses,Number of diagnoses entered to the system,NaN
24,blood_type,Patient blood type,NaN
25,hemoglobin_level,Encounter initial patient hemoglobin level (g/dl),NaN
26,blood_transfusion,Indicates if pacient required blood transfusio...,Yes: blood transfusion was performed during th...
27,max_glu_serum,Indicates the range of the glucose serum resul...,>200: result greater than 200 but less than 30...
28,A1Cresult,Indicates the range of the A1c test result or ...,>8: the result was greater than 8%\n>7: the re...
29,diuretics,Indicate whether diuretics were prescribed.,Yes: a diuretic was prescribed during the enco...
30,insulin,Indicate whether insulin was prescribed.,Yes: insulin was prescribed during the encount...
31,change,Indicates if there was a change in diabetic me...,Ch: there was a change in diabetic medication\...
32,diabetesMed,Indicates if there was any diabetic medication...,Yes: diabetic medication was prescribed during...
33,readmitted,Patient readmitted within 30 days of discharge.,Yes: if the patient was readmitted\nNo: no rec...

## Processind and cleaning data
- Check if there are nans

In [5]:
def check_for_nans(df):
    return(np.sum(df.isnull()))

def check_column(df, column_name):
    print(f"Feature: {column_name}")
    print(f"Unique values: {df[column_name].unique()}")
    print(f"dtype: {df[column_name].dtypes}")
    print(f"Num of nan: {df[column_name].isnull().sum()}")

In [6]:
check_for_nans(data)

admission_id                     0
patient_id                       0
race                             0
gender                           0
age                            293
weight                         166
admission_type_code            146
discharge_disposition_code      71
admission_source_code            0
time_in_hospital                 0
payer_code                       0
medical_specialty                0
has_prosthesis                   0
complete_vaccination_status      0
num_lab_procedures             184
num_procedures                   0
num_medications                308
number_outpatient                0
number_emergency                 0
number_inpatient                 0
diag_1                           0
diag_2                         169
diag_3                           0
number_diagnoses                 0
blood_type                       0
hemoglobin_level                 0
blood_transfusion                0
max_glu_serum                    0
A1Cresult                        0
diuretics                        0
insulin                          0
change                           0
diabetesMed                      0
readmitted_proba                 0
true_class                       0
readmitted                       0
dtype: int64

In [315]:
data.dtypes

admission_id                   float64
patient_id                     float64
race                            object
gender                          object
age                             object
weight                          object
admission_type_code            float64
discharge_disposition_code     float64
admission_source_code          float64
time_in_hospital               float64
payer_code                      object
medical_specialty               object
has_prosthesis                    bool
complete_vaccination_status     object
num_lab_procedures             float64
num_procedures                 float64
num_medications                float64
number_outpatient              float64
number_emergency               float64
number_inpatient               float64
diag_1                          object
diag_2                          object
diag_3                          object
number_diagnoses               float64
blood_type                      object
hemoglobin_level               float64
blood_transfusion                 bool
max_glu_serum                   object
A1Cresult                       object
diuretics                       object
insulin                         object
change                          object
diabetesMed                     object
readmitted_proba               float64
true_class                     float64
readmitted                      object
dtype: object

In [316]:
data.nunique()

admission_id                   9696
patient_id                     9221
race                             15
gender                            3
age                              10
weight                            9
admission_type_code               7
discharge_disposition_code       21
admission_source_code            12
time_in_hospital                 14
payer_code                       17
medical_specialty                50
has_prosthesis                    2
complete_vaccination_status       3
num_lab_procedures              105
num_procedures                    7
num_medications                  64
number_outpatient                19
number_emergency                 15
number_inpatient                 17
diag_1                          447
diag_2                          441
diag_3                          469
number_diagnoses                 14
blood_type                        8
hemoglobin_level                 70
blood_transfusion                 2
max_glu_serum                     6
A1Cresult                         4
diuretics                         2
insulin                           2
change                            2
diabetesMed                       2
readmitted_proba               9619
true_class                        2
readmitted                        2
dtype: int64

In [7]:
data.replace("?", np.nan, inplace=True)

In [8]:
#clean the race data
check_column(data, "race")

Feature: race
Unique values: [nan 'Caucasian' 'Hispanic' 'Other' 'Latino' 'African American'
 'AfricanAmerican' 'WHITE' 'AFRICANAMERICAN' 'Afro American' 'European'
 'Asian' 'White' 'Black' 'EURO']
dtype: object
Num of nan: 227

In [9]:
data.race = data.race.replace(["EURO", "European", "WHITE", "White"], "Caucasian")
data.race = data.race.replace("Latino", "Hispanic")
data.race = data.race.replace(["AfricanAmerican", "Afro American", "AFRICANAMERICAN", "Black"], "African American")

In [10]:
check_column(data, "race")

Feature: race
Unique values: [nan 'Caucasian' 'Hispanic' 'Other' 'African American' 'Asian']
dtype: object
Num of nan: 227

In [11]:
#clean gender data
check_column(data, "gender")

Feature: gender
Unique values: ['Male' 'Female' 'Unknown/Invalid']
dtype: object
Num of nan: 0

In [12]:
#replace Unknow/Invalid value in gender with np.nan
data.gender.replace("Unknown/Invalid", np.nan, inplace=True)
check_column(data, "gender")

Feature: gender
Unique values: ['Male' 'Female' nan]
dtype: object
Num of nan: 1

In [13]:
#clean age data
check_column(data, "age")

Feature: age
Unique values: ['[70-80)' '[60-70)' '[40-50)' '[50-60)' '[80-90)' '[10-20)' nan '[30-40)'
 '[20-30)' '[90-100)' '[0-10)']
dtype: object
Num of nan: 293

In [14]:
#clean weight data
check_column(data, "weight")

Feature: weight
Unique values: [nan '[100-125)' '[75-100)' '[125-150)' '[50-75)' '[25-50)' '[150-175)'
 '[175-200)' '[0-25)']
dtype: object
Num of nan: 9391

In [15]:
#clean admission_type_code
check_column(data, "admission_type_code")

codes = data_dictionary[data_dictionary["Variable name"]=="admission_type_code"].Codes.values[0].split("\r\n")
admission_type_code_df = pd.DataFrame([code.split(": ", maxsplit=1) for code in codes], columns=["code_number", "meaning"])
admission_type_code_df

Feature: admission_type_code
Unique values: [ 2.  1.  5.  3. nan  6.  8.  7.]
dtype: float64
Num of nan: 146

  code_number        meaning
0           1      Emergency
1           2         Urgent
2           3       Elective
3           4        Newborn
4           5  Not Available
5           6           NULL
6           7  Trauma Center
7           8     Not Mapped

In [16]:

data.admission_type_code = data.admission_type_code.replace([5., 6., 8.], np.nan)

#data.admission_type_code = data.admission_type_code.replace(["1.0", "2.0", "3.0", "4.0", "7.0"], ["Emergency", "Urgent", "Elective", "Newborn", "Trauma Center"])
data.admission_type_code = data.admission_type_code.astype(str)

check_column(data, "admission_type_code")

Feature: admission_type_code
Unique values: ['2.0' '1.0' 'nan' '3.0' '7.0']
dtype: object
Num of nan: 0

In [17]:
## discharge_disposition_code 
check_column(data, "discharge_disposition_code")

codes = data_dictionary[data_dictionary["Variable name"]=="discharge_disposition_code"].Codes.values[0].split("\r\n")
discharge_disposition_code_df = pd.DataFrame([code.split(": ", maxsplit=1) for code in codes], columns=["code_number", "meaning"])
discharge_disposition_code_df

Feature: discharge_disposition_code
Unique values: [ 1. 18.  6.  3. 23. 13. 22. 15.  2.  4. 25.  5. nan  7.  8. 28. 14. 16.
 17. 12. 27.  9.]
dtype: float64
Num of nan: 71

   code_number                                            meaning
0            1                                 Discharged to home
1            2  Discharged/transferred to another short term h...
2            3                      Discharged/transferred to SNF
3            4                      Discharged/transferred to ICF
4            5  Discharged/transferred to another type of inpa...
5            6  Discharged/transferred to home with home healt...
6            7                                           Left AMA
7            8  Discharged/transferred to home under care of H...
8            9          Admitted as an inpatient to this hospital
9           10  Neonate discharged to another hospital for neo...
10          11                                            Expired
11          12  Still patient or expected to return for outpat...
12          13                                     Hospice / home
13          14                         Hospice / medical facility
14          15  Discharged/transferred within this institution...
15          16  Discharged/transferred/referred another instit...
16          17  Discharged/transferred/referred to this instit...
17          18                                               NULL
18          19        "Expired at home. Medicaid only:  hospice."
19          20  "Expired in a medical facility. Medicaid only:...
20          21  "Expired:  place unknown. Medicaid only:  hosp...
21          22  Discharged/transferred to another rehab fac in...
22          23  Discharged/transferred to a long term care hos...
23          24  Discharged/transferred to a nursing facility c...
24          25                                         Not Mapped
25          26                                    Unknown/Invalid
26          30  Discharged/transferred to another Type of Heal...
27          27  Discharged/transferred to a federal health car...
28          28  Discharged/transferred/referred to a psychiatr...
29          29  Discharged/transferred to a Critical Access Ho...

In [18]:
data.discharge_disposition_code = data.discharge_disposition_code.replace([18., 25., 26.], np.nan)
data.discharge_disposition_code = data.discharge_disposition_code.astype(str)

check_column(data, "discharge_disposition_code")

Feature: discharge_disposition_code
Unique values: ['1.0' 'nan' '6.0' '3.0' '23.0' '13.0' '22.0' '15.0' '2.0' '4.0' '5.0'
 '7.0' '8.0' '28.0' '14.0' '16.0' '17.0' '12.0' '27.0' '9.0']
dtype: object
Num of nan: 0

In [19]:
#admission_source_code
check_column(data, "admission_source_code")
codes = data_dictionary[data_dictionary["Variable name"]=="admission_source_code"].Codes.values[0].split("\n")
admission_source_code_df = pd.DataFrame([code.split(": ", maxsplit=1) for code in codes], columns=["code_number", "meaning"])
admission_source_code_df

Feature: admission_source_code
Unique values: [ 9.  1.  7. 17.  5.  4.  6.  2. 20.  3.  8. 10.]
dtype: float64
Num of nan: 0

   code_number                                            meaning
0            1                                 Physician Referral
1            2                                    Clinic Referral
2            3                                       HMO Referral
3            4                           Transfer from a hospital
4            5     Transfer from a Skilled Nursing Facility (SNF)
5            6         Transfer from another health care facility
6            7                                     Emergency Room
7            8                              Court/Law Enforcement
8            9                                      Not Available
9           10              Transfer from critial access hospital
10          11                                    Normal Delivery
11          12                                 Premature Delivery
12          13                                          Sick Baby
13          14                                   Extramural Birth
14          15                                      Not Available
15          17                                               NULL
16          18           Transfer From Another Home Health Agency
17          19             Readmission to Same Home Health Agency
18          20                                         Not Mapped
19          21                                    Unknown/Invalid
20          22  Transfer from hospital inpt/same fac reslt in ...
21          23                          Born inside this hospital
22          24                         Born outside this hospital
23          25            Transfer from Ambulatory Surgery Center
24          26                              Transfer from Hospice

In [20]:
check_column(data, "admission_source_code")

data.admission_source_code = data.admission_source_code.replace([9, 15, 17, 20, 21], np.nan)
data.admission_source_code = data.admission_source_code.astype(str)

check_column(data, "admission_source_code")

Feature: admission_source_code
Unique values: [ 9.  1.  7. 17.  5.  4.  6.  2. 20.  3.  8. 10.]
dtype: float64
Num of nan: 0
Feature: admission_source_code
Unique values: ['nan' '1.0' '7.0' '5.0' '4.0' '6.0' '2.0' '3.0' '8.0' '10.0']
dtype: object
Num of nan: 0

In [21]:
#time in hospital
check_column(data, "time_in_hospital")

Feature: time_in_hospital
Unique values: [ 1.  3. 11.  2.  6. 12.  9.  8. 10.  4.  5.  7. 14. 13.]
dtype: float64
Num of nan: 0

In [22]:
#payer code
check_column(data, "payer_code")

Feature: payer_code
Unique values: ['MC' 'BC' nan 'MD' 'SP' 'OG' 'UN' 'SI' 'HM' 'CM' 'CP' 'DM' 'MP' 'CH' 'PO'
 'WC' 'OT']
dtype: object
Num of nan: 3844

In [23]:
check_column(data, "medical_specialty")

Feature: medical_specialty
Unique values: ['Family/GeneralPractice' 'Cardiology' 'Emergency/Trauma' nan 'Nephrology'
 'ObstetricsandGynecology' 'Psychology' 'InternalMedicine'
 'Surgery-Cardiovascular/Thoracic' 'Radiologist' 'Oncology' 'Psychiatry'
 'Orthopedics' 'Surgery-Vascular' 'Surgery-General' 'Gastroenterology'
 'Orthopedics-Reconstructive' 'Pulmonology'
 'PhysicalMedicineandRehabilitation' 'Hematology/Oncology' 'Surgery-Neuro'
 'Neurology' 'Urology' 'Hematology' 'Surgery-Thoracic'
 'Surgery-Cardiovascular' 'Pediatrics-Endocrinology' 'Rheumatology'
 'Pediatrics-Pulmonology' 'Otolaryngology' 'Surgery-Plastic'
 'Pediatrics-CriticalCare' 'Pediatrics' 'InfectiousDiseases' 'Radiology'
 'Hospitalist' 'Gynecology' 'Surgery-PlasticwithinHeadandNeck'
 'Endocrinology' 'SurgicalSpecialty' 'Osteopath' 'Anesthesiology'
 'Surgeon' 'Podiatry' 'Ophthalmology'
 'Obsterics&Gynecology-GynecologicOnco' 'Resident' 'DCPTEAM'
 'Pediatrics-Neurology' 'Obstetrics']
dtype: object
Num of nan: 4708

In [24]:

data.medical_specialty = data.medical_specialty.replace('PhysicianNotFound', np.nan)

check_column(data, "medical_specialty")

Feature: medical_specialty
Unique values: ['Family/GeneralPractice' 'Cardiology' 'Emergency/Trauma' nan 'Nephrology'
 'ObstetricsandGynecology' 'Psychology' 'InternalMedicine'
 'Surgery-Cardiovascular/Thoracic' 'Radiologist' 'Oncology' 'Psychiatry'
 'Orthopedics' 'Surgery-Vascular' 'Surgery-General' 'Gastroenterology'
 'Orthopedics-Reconstructive' 'Pulmonology'
 'PhysicalMedicineandRehabilitation' 'Hematology/Oncology' 'Surgery-Neuro'
 'Neurology' 'Urology' 'Hematology' 'Surgery-Thoracic'
 'Surgery-Cardiovascular' 'Pediatrics-Endocrinology' 'Rheumatology'
 'Pediatrics-Pulmonology' 'Otolaryngology' 'Surgery-Plastic'
 'Pediatrics-CriticalCare' 'Pediatrics' 'InfectiousDiseases' 'Radiology'
 'Hospitalist' 'Gynecology' 'Surgery-PlasticwithinHeadandNeck'
 'Endocrinology' 'SurgicalSpecialty' 'Osteopath' 'Anesthesiology'
 'Surgeon' 'Podiatry' 'Ophthalmology'
 'Obsterics&Gynecology-GynecologicOnco' 'Resident' 'DCPTEAM'
 'Pediatrics-Neurology' 'Obstetrics']
dtype: object
Num of nan: 4708

In [25]:
#has_prosthesis
check_column(data, "has_prosthesis")

Feature: has_prosthesis
Unique values: [False  True]
dtype: bool
Num of nan: 0

In [26]:
#complete_vaccination_status
check_column(data, "complete_vaccination_status")

Feature: complete_vaccination_status
Unique values: ['Complete' 'Incomplete' 'None']
dtype: object
Num of nan: 0

In [27]:
#num_lab_procedures
check_column(data, "num_lab_procedures")

Feature: num_lab_procedures
Unique values: [ 31.  29.  42.  23.  46.  40.  44.  71.  56.  59.  43.  67.  27.  37.
  62.  48.  73.  41.  32.  64.  15.  39.  14.  45.  36.   3.   8.  75.
  28.  68.   7.  70.  20.   1.  82.   9.  30.  66.  47.  58.  34.  51.
  80.  85.  11.   2.  55.  24.  38.  19.  78.  nan  95.  60.  50.  35.
  25.  76.  77.  54.  16.  65.  84.  79.  57.  49.  22.  10.   4.  86.
  13.  17.  53.  61.  21.   6.   5.  69.  33.  63.  52.  26.  81.  74.
  18.  90.  89.  72. 100.  12.  87.  88.  97.  94.  96. 102.  91.  93.
  83. 107.  98. 103. 109.  92. 101. 111.]
dtype: float64
Num of nan: 184

In [28]:
#num_procedures
check_column(data, "num_procedures")

Feature: num_procedures
Unique values: [0. 6. 1. 2. 3. 4. 5.]
dtype: float64
Num of nan: 0

In [29]:
#num_medications
check_column(data, "num_medications")

Feature: num_medications
Unique values: [10.  9.  5. nan 14.  2. 19. 11. 22. 21. 28.  8. 29. 16. 15. 41.  7. 13.
 18.  4. 20.  6. 12.  3. 32. 35. 31. 47. 17. 26. 23. 46. 25. 24. 30. 39.
 42. 40. 27. 36. 38. 33.  1. 59. 45. 44. 34. 50. 55. 49. 37. 56. 48. 43.
 53. 58. 52. 60. 57. 54. 51. 79. 61. 65. 66.]
dtype: float64
Num of nan: 308

In [30]:
#number_outpatient
check_column(data, "number_outpatient")

Feature: number_outpatient
Unique values: [ 0.  4.  3.  1.  6.  2.  5.  8.  9. 19.  7. 15. 11. 14. 17. 16. 10. 21.
 13.]
dtype: float64
Num of nan: 0

In [31]:
#number_emergency
check_column(data, "number_emergency")

Feature: number_emergency
Unique values: [ 0.  1.  2.  3.  5.  4.  7.  6. 10.  8. 11. 12.  9. 63. 13.]
dtype: float64
Num of nan: 0

In [32]:
#number_inpatient
check_column(data, "number_inpatient")

Feature: number_inpatient
Unique values: [ 0.  1.  2.  3.  5.  4.  7.  6. 11. 10.  9.  8. 14. 15. 12. 16. 13.]
dtype: float64
Num of nan: 0

In [33]:
#diag_1
check_column(data, "diag_1")

Feature: diag_1
Unique values: ['428' '414' '786' '562' '780' '481' '813' '38' '348' '440' '642' '296'
 '790' '682' '295' '781' '518' '998' '288' '574' '250.11' '250' '198'
 '312' '493' '427' '716' '535' '433' '785' '250.13' '572' '278' '293'
 '996' '458' '444' '486' '8' '438' '530' '560' '491' 'V55' '250.6' '552'
 '410' '527' '197' '724' '386' '276' '823' '820' '959' '435' '402' '434'
 '729' '202' '592' '79' '250.7' '578' '715' '453' '191' '250.8' '250.12'
 '564' '999' 'V57' '576' '824' '445' '599' '707' '511' '185' '577'
 '250.02' '345' '398' '465' '540' '174' '413' '722' '553' '789' '415' '88'
 '992' '164' '607' '797' '730' '593' '719' '292' '997' '300' '285' '451'
 '728' '723' '590' '238' '280' '404' '426' '461' '515' '352' '814' '745'
 '584' '536' '432' '424' '571' '250.82' '117' '620' '822' '808' '162'
 '726' '346' '441' '585' '425' '721' '478' '189' '600' '558' '566' '250.1'
 '733' '250.03' '303' '480' '537' '192' '625' '971' '507' '291' '396'
 '787' '411' '821' '241' '253' '487' '575' '274' '437' '250.23' '403'
 '567' '333' '568' '154' '648' 'V58' '482' '150' '275' '794' '738' '784'
 '331' '840' '618' '531' '250.81' '324' '466' '557' '378' '492' '550'
 '508' '664' '380' '429' '626' '443' '569' '272' '287' '799' '860' '283'
 '218' '897' '431' '846' '812' '601' '307' '34' '995' '294' '924' '135'
 '658' '844' '153' '309' '250.43' '807' '250.31' '659' '873' '436' '211'
 '193' '175' '250.4' '591' '289' '782' '70' '608' '401' '573' '423' '230'
 '805' '958' 'V54' '555' '447' '286' '627' '155' '962' '203' '196' '965'
 '734' '212' '282' '532' '496' '250.33' '922' '156' '852' '421' '250.41'
 '42' '455' '250.42' '250.22' '250.2' '660' '681' '604' '53' '661' nan
 '157' '250.01' '112' '290' '881' '621' '969' '188' 'V56' '284' '416'
 '485' '298' '385' '182' '977' '654' '382' '9' '250.83' '459' '759' '802'
 '711' '473' '892' '831' '361' '281' '710' '541' '327' '611' '475' '49'
 '588' '693' '151' '551' '934' '163' '966' '882' '344' '494' '801' '596'
 '161' '205' '147' '244' '457' '933' '964' '850' '708' 'V53' '233' '220'
 '595' '5' '972' '968' '514' '227' '617' '297' '311' '351' '456' '171'
 '788' '714' '183' '725' '656' '920' '839' '632' '341' '304' '195' '251'
 '851' '522' '383' '944' '47' '305' '963' '867' '362' '967' '184' '913'
 '510' '349' '263' '250.92' '796' '641' '825' '861' '340' '976' '350' '82'
 '255' '337' '556' '652' '11' '863' '464' '332' '308' '680' '250.21' '355'
 '242' '616' '446' '843' '357' '533' '806' '647' '310' '354' '952' '314'
 '250.9' '534' '709' '239' '430' '131' '519' '442' '477' '989' '736' '368'
 '526' '225' 'V45' '705' '226' '570' '939' '338' '655' '301' '586' '235'
 '273' '250.93' '727' '277' '718' '935' '420' '500' '783' '524' '490'
 '543' '695' '250.32' '685' '152' '454' '323' '987' '792' '815' '945'
 '370' '895' '594' '395' '376']
dtype: object
Num of nan: 3

In [34]:
#diag_2
check_column(data, "diag_2")

Feature: diag_2
Unique values: ['427' '401' '719' '276' '280' '250.02' 'E885' '482' '403' '507' '648'
 '585' '250.6' '486' '428' '284' 'V58' nan '716' '496' 'V65' '599' '250'
 '204' '729' '305' '425' '94' '531' '571' '443' '864' '281' '584' '414'
 '250.82' '250.01' '348' '728' '295' '530' '562' '411' '553' '714'
 '250.42' '780' '591' '426' '959' '789' '278' '781' '592' 'E935' '440'
 '733' '342' '707' '250.4' '991' '492' '413' '38' '799' '558' '996' '314'
 '250.12' '682' '788' '998' '285' '8' '303' '337' '70' '491' 'V45' '493'
 '466' '394' '250.92' '785' '696' '410' '790' 'V70' '196' '402' '424'
 '301' '518' '786' '535' '453' '263' '293' '478' '997' '112' '433' '331'
 '304' '723' '611' '724' '560' '438' '722' '193' '398' '311' '41' '368'
 '287' '822' '746' '154' 'V54' '824' '808' '783' '286' '511' '296'
 '250.41' 'V43' '574' '416' '306' '117' '250.83' '494' 'V85' 'E942' '805'
 '250.13' '972' '536' '250.03' '162' '519' '600' '202' '242' '197' '515'
 '787' '250.52' '198' '42' '203' 'V12' '590' '153' '532' 'E880' '250.8'
 '396' '593' '300' '298' '812' '135' '924' '250.7' '577' '272' '404'
 '250.91' 'V15' '279' '332' '188' '882' '596' '922' 'V62' '626' '432'
 '578' 'V42' '312' '244' '473' '517' '566' '737' '452' '183' '567' '995'
 '290' '861' '456' '465' '647' '225' '157' '262' 'E878' '569' '710' 'V86'
 '345' '738' '327' '836' '715' '277' '255' '458' '360' '621' 'V10' '214'
 '556' '446' '709' 'E849' '250.43' '727' '782' '397' '434' '218' '292'
 '784' '572' '576' '241' '282' 'E936' '698' '459' '185' 'E939' 'V63' '692'
 '294' '731' '905' '721' '307' 'E816' '253' '150' '261' '730' '595' '382'
 '718' '557' '873' '717' 'E933' '555' '250.11' '357' '920' '444' '512'
 '681' '412' '470' '340' '250.51' '510' '686' '634' '317' '110' '564'
 '288' '423' '642' '40' '608' '201' '250.5' '358' 'E879' '11' '386' '625'
 '794' '455' '437' '796' '490' '524' '250.2' '430' '753' '435' '275' '860'
 '614' '575' '583' 'E947' '485' '217' '851' '568' '309' '274' '189' '581'
 '372' '461' '199' '211' '79' 'E888' '537' 'V46' '601' '415' '252' '747'
 '289' '516' 'E917' '892' '366' '477' '349' '454' '814' '344' '174' 'V08'
 '420' '151' '481' '208' '273' '442' '552' '831' '389' 'V49' '958' '820'
 '793' '250.81' '378' '480' '513' '283' '429' '845' '844' 'E928' 'E887'
 '711' '269' 'V53' 'E900' '250.53' 'E812' '644' '816' '791' '963' 'E932'
 '500' '441' '205' '484' '462' '680' 'E884' '850' '989' '291' '457' '573'
 '866' 'V64' '200' '736' '322' 'V72' '53' '852' '250.33' '250.1' '701'
 '807' '431' '802' '447' '346' '823' '705' '138' '712' 'V25' '354' 'E930'
 '250.93' '259' '826' '797' '233' 'E821' '756' '297' '451' '742' '598'
 '656' '847' 'E944' '27' '152' '487' '620' '607' '155' '570' '338' '137'
 'E934' '383' '811' '945' '955' 'E937' '840' 'E924' '529' '619' '421'
 '356' '335' '868' '821']
dtype: object
Num of nan: 207

In [35]:
#diag_3
check_column(data, "diag_3")

Feature: diag_3
Unique values: ['250' '272' '719' '250.6' '998' '276' '924' '491' '250.4' '780' '414'
 '250.91' '518' 'E930' '401' '242' '358' '428' '403' '411' '202' nan '162'
 '319' '840' '250.01' '280' '558' '284' '496' '585' '584' '707' 'V18'
 '729' 'E878' '564' '250.42' '427' '536' '305' '511' '593' '424' '244'
 '438' '786' '599' '465' '781' '493' '287' '784' '205' '278' '334' '682'
 'V54' '331' '553' '574' 'V58' '446' 'V55' '250.02' '577' '722' '263'
 '285' '782' '425' '785' '790' '300' '788' '530' '799' 'V15' '596' '959'
 '250.82' '458' '41' 'V42' 'V45' '397' '303' '560' 'V57' '466' '342' '426'
 '571' '70' '535' '357' '789' '250.03' '402' '294' '996' '693' 'E947'
 '433' '733' '997' 'E935' '787' '296' '204' '250.43' 'V17' '435' 'V09'
 '250.92' 'E880' '590' '995' '301' '153' '389' 'E885' '412' '250.7' '298'
 '413' '197' '306' '8' '112' '250.83' '291' '482' '290' '710' '199' 'E858'
 '398' '440' '250.41' '455' '486' '238' '875' '443' '42' 'V08' '728'
 '250.51' 'V46' '362' '288' '172' '642' '453' '196' '198' '715' '295'
 '250.8' '250.5' '507' '311' '416' '805' '916' 'E849' '515' 'V14' '920'
 '616' '731' '644' '332' '211' '591' '253' '517' '569' '429' '286' '404'
 '592' '909' '135' '661' '794' '494' '38' '716' 'E819' '304' '437' '218'
 '933' '266' '955' 'V49' '337' '185' '490' '918' '873' '588' '578' '154'
 '595' '368' '250.53' '512' '293' '461' '79' '648' '813' 'V25' '572' 'V10'
 '575' '442' 'E938' 'E879' 'E942' '492' 'V43' '292' '562' '608' '568'
 '309' '250.52' '372' '459' '282' '473' '348' '783' '537' '275' '567'
 '338' '344' '394' 'E881' '432' '721' '405' '681' '573' '289' '686'
 '250.13' 'V65' '730' '174' '281' 'V63' '556' '410' '369' '709' '346'
 '256' '724' 'V62' '203' '351' '583' '610' 'E887' '396' '366' '355' 'V85'
 '698' '478' '654' '188' 'V12' '966' 'E932' '991' '225' '262' 'E884' '423'
 '692' '621' '737' '657' '696' '600' 'V64' '250.81' '626' '659' '531'
 '156' '664' '378' '570' '581' '183' '327' '261' '365' '250.12' '618'
 '431' '627' '131' '807' 'V02' '155' '611' '514' '386' '255' '277' '758'
 '576' '714' '270' 'V16' '274' '922' 'E888' '356' '614' '487' '791' '533'
 '420' '189' '836' '139' '157' '454' '462' '34' '354' '891' 'E920' '53'
 '717' '240' 'E934' '732' '310' '110' '723' '456' '532' 'E928' '434' '241'
 'V44' '283' '625' '646' '441' '382' '250.93' '607' 'V27' '980' '150'
 '340' '913' '452' '965' '307' '345' '854' '510' '989' '233' 'E931' '447'
 '557' '594' '745' 'E870' '601' '685' 'E916' '754' '656' '802' '738' '757'
 '919' '868' '962' '711' '555' 'E886' '713' '250.9' '246' '945' '620'
 '952' 'E905' '380' '598' 'E906' '457' '704' '201' '736' '727' '647' '54'
 '359' 'E816' '171' '138' '619' '580' '550' '865' '860' '323' '191' '519'
 '958' '317' '726' 'E815' '877' 'E812' '822' 'E980' '173' '812' 'E917'
 '250.3' '521' '383' '808' '586' '312' '792' 'E933' '552' '746' '796'
 '236' '333' '905' '250.11' '831' '824' '318' '582' '444' '915' '907'
 'V66' '999' '881' '882' '94' '470' '336' '747' '725' '379']
dtype: object
Num of nan: 149

In [36]:
#number_diagnoses
check_column(data, "number_diagnoses")

Feature: number_diagnoses
Unique values: [ 3.  4.  5.  9.  6.  7.  8.  1.  2. 15. 12. 16. 10. 14.]
dtype: float64
Num of nan: 0

In [37]:
#blood_type
check_column(data, "blood_type")

Feature: blood_type
Unique values: ['A+' 'O-' 'O+' 'A-' 'AB+' 'B+' 'B-' 'AB-']
dtype: object
Num of nan: 0

In [38]:
#hemoglobin_level
check_column(data, "hemoglobin_level")

Feature: hemoglobin_level
Unique values: [16.5 16.  15.3 14.9 13.5 13.  15.1 15.6 14.4 15.9 12.4 14.3 12.5 14.1
 12.8 14.  13.3 15.7 12.6 14.7 15.4 14.5 12.7 13.4 14.2 13.7 15.  14.8
 13.6 16.4 13.9 14.6 12.3 12.9 13.1 11.3 12.2 12.  16.6 15.5 13.2 13.8
 17.  15.2 16.1 16.9 15.8 11.6 16.2 16.3 12.1 16.7 11.8 11.7 16.8 17.6
 11.9 10.9 11.4 17.1 17.4 17.2 17.5 11.5 11.2 17.7 17.3 18.  17.8 11.1]
dtype: float64
Num of nan: 0

In [39]:
#blood_transfusion
check_column(data, "blood_transfusion")

Feature: blood_transfusion
Unique values: [False  True]
dtype: bool
Num of nan: 0

In [40]:
#max_glu_serum
check_column(data, "max_glu_serum")
data.max_glu_serum = data.max_glu_serum.replace("NONE", "None")
data.max_glu_serum = data.max_glu_serum.replace("NORM", "Norm")
check_column(data, "max_glu_serum")

Feature: max_glu_serum
Unique values: ['None' 'NONE' 'Norm' '>200' '>300' 'NORM']
dtype: object
Num of nan: 0
Feature: max_glu_serum
Unique values: ['None' 'Norm' '>200' '>300']
dtype: object
Num of nan: 0

In [41]:
#A1Cresult
check_column(data, "A1Cresult")

Feature: A1Cresult
Unique values: ['None' '>8' 'Norm' '>7']
dtype: object
Num of nan: 0

In [42]:
#diuretics
check_column(data, "diuretics")

Feature: diuretics
Unique values: ['No' 'Yes']
dtype: object
Num of nan: 0

In [43]:
#insulin
check_column(data, "insulin")

Feature: insulin
Unique values: ['No' 'Yes']
dtype: object
Num of nan: 0

In [44]:
#change
check_column(data, "change")

Feature: change
Unique values: ['No' 'Ch']
dtype: object
Num of nan: 0

In [45]:
#diabetesMed
check_column(data, "diabetesMed")

Feature: diabetesMed
Unique values: ['Yes' 'No']
dtype: object
Num of nan: 0

In [46]:
#readmitted
check_column(data, "readmitted")

## change target value to boolean
#data.readmitted = data.readmitted.replace(["Yes", "No"], [True, False])
#check_column(data, "readmitted")

Feature: readmitted
Unique values: ['No' 'Yes']
dtype: object
Num of nan: 0

In [357]:
problematic_patient_ids_blood_type = []
repeated_patient_ids = []
for patient in data.patient_id.unique():
    data_patient = data[data.patient_id==patient]
    if data_patient.shape[0]>1:
        repeated_patient_ids.append(patient)
        if len(data_patient.blood_type.unique())>1:
            #print(patient)
            problematic_patient_ids_blood_type.append(patient)

In [358]:
len(problematic_patient_ids_blood_type)/len(repeated_patient_ids)

0.7565632458233891

In [359]:
data[data.patient_id == problematic_patient_ids_blood_type[2]]

,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,time_in_hospital,...,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted_proba,true_class,readmitted
42,83142.0,88125354.0,Caucasian,Female,[70-80),NaN,1.0,1.0,7.0,3.0,...,False,None,None,No,No,No,No,0.535548,0.0,No
6839,97405.0,88125354.0,Caucasian,Female,[70-80),NaN,1.0,6.0,7.0,2.0,...,False,None,None,No,No,No,No,0.589050,1.0,Yes

In [360]:
len(repeated_patient_ids)

419

In [361]:
problematic_patient_ids_race = []
problematic_patient_ids_gender = []

for patient in repeated_patient_ids:
    data_patient = data[data.patient_id==patient]
    if data_patient.shape[0]>1:
        if len(data_patient.race.dropna().unique())>1:
            problematic_patient_ids_race.append(patient)
        elif len(data_patient.gender.dropna().unique())>1:
            problematic_patient_ids_gender.append(patient)

In [362]:
len(problematic_patient_ids_race)

5

In [363]:
len(problematic_patient_ids_race)/len(repeated_patient_ids)

0.011933174224343675

In [364]:
data[data.patient_id == problematic_patient_ids_race[4]]

,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,time_in_hospital,...,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted_proba,true_class,readmitted
7290,99260.0,63624078.0,Other,Male,[50-60),NaN,2.0,1.0,7.0,5.0,...,False,None,>7,No,Yes,Ch,Yes,0.438346,NaN,NaN
8986,91397.0,63624078.0,Asian,Male,[50-60),NaN,2.0,2.0,7.0,3.0,...,False,None,Norm,No,Yes,No,Yes,0.495602,0.0,No

In [365]:
len(problematic_patient_ids_gender)/len(repeated_patient_ids)

0.002386634844868735

In [366]:
data[data.patient_id == problematic_patient_ids_gender[0]]

,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,time_in_hospital,...,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted_proba,true_class,readmitted
427,83990.0,81735282.0,NaN,Male,[40-50),NaN,1.0,1.0,7.0,3.0,...,False,None,None,No,Yes,Ch,Yes,0.549632,0.0,No
7504,81730.0,81735282.0,NaN,Female,[40-50),NaN,1.0,5.0,7.0,2.0,...,False,None,None,No,Yes,Ch,Yes,0.599821,NaN,NaN

In [367]:
#remove patients with problematic values for race or gender
data = data[~data["patient_id"].isin(problematic_patient_ids_gender)]
data = data[~data["patient_id"].isin(problematic_patient_ids_race)]

In [368]:
data.shape

(9683, 36)

In [369]:
#remove patients that died or were sent to hospice
#NOTE: in app.py add line of code that predicts false automatically for these cases
#data = data[~data["discharge_disposition_code"].isin(["11.0", "13.0", "14.0", "19.0", "20.0", "21.0"])]
data[(data["discharge_disposition_code"].isin(["11.0", "13.0", "14.0", "19.0", "20.0", "21.0"])) & (data.readmitted=="Yes")]

,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,time_in_hospital,...,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted_proba,true_class,readmitted
1993,91267.0,46384344.0,African American,Female,[40-50),NaN,1.0,13.0,7.0,7.0,...,False,None,None,No,No,No,No,0.0,1.0,Yes

In [370]:
data.shape

(9683, 36)

In [48]:
##save cleaned data
#data.to_csv("data/cleaned_data.csv", index=False)
data.to_csv("data/cleaned_first_round.csv", index=False)